
.main-div{
    width: 100%;
    height: fit-content;
    
    background-color: white;

    display: grid;
    justify-items: center;

    grid-template-rows: 100px 1fr;
    grid-gap: 20px;
}


.up-bar{
    margin-top: 1.5%;
    width: 70%;
    height: 70%;

    background-color: #EEE3CB;

    border-radius: 50px;

    display: grid;
    grid-template-columns:50% 25%;
    justify-content: space-between;
}

.up-right{

    display: grid;
    justify-content: center;
    align-items: center;
}
.right-box{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.up-left{
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    align-items: center;
}

button{

    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color:transparent;
}

button[id="regis"]{
    color: white;
    background-color: #637E76;

    border-radius: 30px;
}
button[id="search"]{
    font-weight: bold;
}

.left-side{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight:500;
}
form[id="filter"]{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr ;
    justify-content: center;
    align-items: center;
}

form[id="filter"]>button,form[id="filter"]>div{
    padding: 0px 10px;
}
form[id="filter"]>div>select{
    width: 80px;
}