
.main-div{
    width: 100%;
    height: fit-content;
    
    background-color: white;

    display: grid;
    justify-items: center;

    grid-template-rows: 100px 1fr;
    grid-gap: 20px;
}


.up-bar{
    margin-top: 1.5%;
    width: 70%;
    height: 70%;

    background-color: #EEE3CB;

    border-radius: 50px;

    display: grid;
    grid-template-columns:50% 25%;
    justify-content: space-between;
}

.up-right{

    display: grid;
    justify-content: center;
    grid-template-columns:1fr 1fr;
    align-items: center;

    /* background-color: #637E76; */
}

.right-box{
    margin-right: 20px;
    display: grid;
    justify-content: flex-end;
    align-items: center;
    grid-template-columns: 100px 35px;

    /* background-color: aquamarine; */
}

.up-left{
    margin-left: 20px;
    width: 100%;
    
    display: grid;
    grid-template-columns: 35px 40%;
    justify-content: flex-start;
    align-items: center;

    /* background-color: aliceblue; */
}

button{

    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color:transparent;
}

button[id="regis"]{
    color: white;
    /* background-color: #637E76; */

    border-radius: 30px;
}
button[id="search"]{
    font-weight: bold;
}

.left-side{
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight:500;
}
form[id="filter"]{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr ;
    justify-content: center;
    align-items: center;
}

form[id="filter"]>button,form[id="filter"]>div{
    padding: 0px 10px;
}
form[id="filter"]>div>select{
    width: 80px;
}
#filter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

p, label{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:#303030
}

.creator{
    width: 70%;
    height: 700px;

    /* background-color: #f4ebd8; */
    border: #3b3b3b solid 1px;
    border-radius: 20px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    justify-items: center;
}
.left-creator{
    width: 100%;
    height: 100%;

    /* background-color: burlywood; */

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 30%;
}

.right-creator{
    width: 100%;
    height: 100%;

    /* background-color: rgb(167, 123, 67); */

    display: grid;
    align-items: flex-start;
    justify-content: flex-start;
}

.detail{
    margin-left: 50px;

    width: 150%;
    height: 100%;

    /* background-color: #185ee0; */
    
    display: grid;
    grid-template-rows: 1fr 100px;
}
.inputer{
    margin-top: 25px;

    width: 100%;
    height: 100%;

    /* background-color: #6594ec; */
}
.submiter{
    width: 100%;
    height: 100%;

    /* background-color: #36b53a; */

    display: grid;
    justify-content: flex-end;
    align-items: center;
}

.input-container {
    position: relative;
    margin: 15px auto;
    width: 200px;

    left: 20px;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
  











/*new one*/
.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  font-size: .8rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: .8rem;
  height: .8rem;
  position: absolute;
  top: 10px;
  left: 30%;
  font-size: 10px;
  margin-left: 0.75rem;
  border-radius: 50%;
  margin: 0px;
  background-color: #e6eef9;
  transition: 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
  color: #185ee0;
}

.container input[type="radio"]:checked + label > .notification {
  background-color: #185ee0;
  color: #fff;
  margin: 0px;
}

/* .container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
} */
.container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0%);
}

.container input[id="radio-2"]:checked ~ .glider {
  transform: translateX(100%);
}

.container input[id="radio-3"]:checked ~ .glider {
  transform: translateX(200%);
}

.glider {
  position: absolute;
  display: flex;
  height: 30px;
  width: 100px;
  background-color: #e6eef9;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
 
  .tabs {
    transform: scale(0.6);
  }
}

.status{
    display: grid;
    justify-items: center;
}

img{
    /* border-radius: 20px; */
}



.custom-select {
    position: relative;
    font-family: Arial;
  }
/*   
  .custom-select select {
    display: none;
  } */
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }









  /*new one here*/
  .button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #252525;
    overflow: hidden;
    border-radius: 30px;
    color: #333;
    transition: all 0.5s ease-in-out;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

.imageContainer{
  width: 100%;
  height: 100%;

  /* background-color: #b5b5b5; */

  display: grid;
  grid-template-rows: 80% 1fr;
  justify-items: center;
  align-items: center;
}

#uploader{
  width: 100x;
  background: #dfb768;
  color:#fff;
  padding: 12px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}
#input-file{
  display: none;
}