<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard User activities</title>
    <link rel="stylesheet" href="/style/admin_css/admin_dash_user_page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100&family=Nunito:ital,wght@1,300&family=Open+Sans:wght@300&family=Salsa&display=swap" rel="stylesheet">    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="main-div">
        <div class="up-bar">
            <div class="up-left">
                <img id="logo" src="/images/office.png" width="35px" height="35px"/>
                <form action="/" method="get" id="filter">
                    <button type="submit" formaction="/" id="dash"><b>Dashboard</b></button>
                    <button type="submit" formaction="/admin_land" id="land">Land</button>
                    <button type="submit" formaction="/admin_User" id="user">User</button>
                </form>
            </div>
            <div class="up-right right-box">
                <p>admin_name</p>
                <img src="/images/circle-user.png" height="25px" width="25px" />
            </div>
        </div>

        <div class="content">
            <div class="left">
                <div class="heading"><h1>User activities</h1></div>
                <canvas id="pieChart1"></canvas>
            </div>
        

            <div class="right">
                <table class="info1">
                    <tr>
                        <th colspan="2">What people like:</th>
                    </tr>
                    <tr>
                        <td>-Townhome</td>
                        <td class="price">20</td>
                    </tr>
                    <tr>
                        <td>-Tiny</td>
                        <td class="price">12</td>
                    </tr>
                    <tr>
                        <td>-Apartment</td>
                        <td class="price">50</td>
                    </tr>
                    <tr>
                        <td>-Big House</td>
                        <td class="price">18</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Home Lander | Database System Project</p>
    </div>

    <script>
        // Data for the first pie chart (circle1)
        var data1 = {
            labels: ['Townhome', 'Tiny', 'Apartment', 'Big House'],
            datasets: [{
                data: [20, 12, 50, 18],
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0']
            }]
        };
    
        // Options for the first pie chart
        var options1 = {
            legend: {
                position: 'bottom' // Position the legend at the bottom
            }
        };
    
        // Get the canvas element
        var ctx1 = document.getElementById('pieChart1').getContext('2d');
    
        // Create the pie chart
        var pieChart1 = new Chart(ctx1, {
            type: 'pie',
            data: data1,
            options: options1
        });
    </script>

</body>
</html>