.header {grid-area: header;}
.graph {grid-area: graph;}
.daily_transaction {
    grid-area: dt;
    background-color: #F2ECE2;
    overflow: hidden;
    border-radius: 20px;
    padding: 5px;
}
.recent_transaction {
    grid-area: rt;
    background-color: #F2ECE2;
    overflow: hidden;
    border-radius: 20px;
    padding: 5px;
}

.transaction{
    grid-template-areas:
    "dt rt";
}
.data {
    grid-area: data;
}
.rencent_transaction {grid-area: left;}

.grid_container{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "graph graph data data";
    grid-gap: 10px;
    /* padding: 10px; */
}

.border {
    background-color: #F2ECE2;
    overflow: hidden;
    /* display : grid;
    justify-items :center;
    align-items : center;
    grid-templates-column: 1fr 1fr 1fr 1fr 1fr; */
    border-radius: 25px;
    padding: 5px;
}