<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style/about.css">
        <title>About us - Homelander</title>
        <script src="https://www.w3schools.com/lib/w3.js"></script>
    </head>
    <body>
        <div class="main-div">
            <!-- <img src="images/hgouse.jpg" alt="house"> -->
            <div class="up-bar">
                <div class="up-left">
                    <img id="logo" src="/images/office.png" width="35px" height="35px"/>
                    <form action="/" method="get" id="filter">
                        <button type="submit" formaction="/" id="home">Home</button>
                        <button type="submit" formaction="/about" id="about">About</button>
                    </form>
                </div>
                <div class="up-right">
                    <form action="/login" method="get">
                        <button type="submit" formaction="/login" id="login">Login</button>
                        <button type="submit" formaction="/login" id="regis">Register</button>
                    </form>
                </div>
            </div>
            <div class="down-content">
                <h1>Welcome to Homelander</h1>
                <p>Where every property has a unique story.</p>

                <h2>Our Story</h2>
                <p>At Homelander, we're passionate about connecting people with their dream homes and investment opportunities. Our journey began with a vision to make real estate transactions seamless and personalized.</p>

                <h2>Our Approach</h2>
                <p>We believe in transparency, market insights, and personalized service. Let us guide you toward your real estate goals.</p>

                <h2>Meet Our Team</h2>
                <img class="team-photo" src="images/biw.png" alt="Our Team">
                <p>Deesampan Vongsurit 6510766 <br>Leader of the team, Customer role and general page(login, register and homepage).</p>
                <img class="team-photo" src="images/art.jpg" alt="Our Team">
                <p>Natthaphat Kraiwong 65110249<br>Administrator role</p>
                <img class="team-photo" src="images/diff.jpg" alt="Our Team">
                <p>Nutchapol Rodpholchoo 6511012<br>Governor Role and general page</p>
                <img class="team-photo" src="images/tar.jpg" alt="Our Team">
                <p>Jilamika Lalae 6511063<br>Landlord role</p>
                <!-- Add more team members here -->

                <h2>Let's Get Started!</h2>
                <p>Explore our listings, schedule a consultation, or visit our office. We're excited to be part of your real estate journey!</p>
            </div>
        </div>
            <div class="footer">
                <h2 class="w3-wide">CONTACT</h2>
                Samut prakan, Thailand<br>
                Phone: +66 999999<br>
                Email: homelander@gmail.com<br>
                <p class="w3-opacity w3-center"><i>Keep in touch!</i></p>
                <form>
                <input class="w3-input" type="text" placeholder="Name" required name="Name">
                <input class="w3-input" type="text" placeholder="Email" required name="Email">
                <input class="w3-input" type="text" placeholder="Message" required name="Message"><br>
                <button class="w3-button w3-black" type="submit">SEND</button>
                </form>
                <br>
                <p>Home Lander | Database System Project</p>
            </div>
    </body>
</html>
