<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style/style_governor_dashboard.css" />
</head>
<body>
    <div class="grid_container">
        <div class="header">header</div>
        <div class="graph">
            <div class="transaction_graph">transaction graph</div>
            <div class="user_graph">user graph</div>
        </div>
        <div class="data">
            <div class="transaction">
                <div class="daily_transaction">Daily Transaction<br>300,000</div>
                <div class="recent_transaction">Recent Transaction<br>300,000</div>
            </div>
            <div class="user">
                <div class="daily_user">Daily Users<br>300,000</div>
                <div class="total_user">Total Users<br>300,000</div>
            </div>
        </div>
    </div>
</body>
</html>