<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/style/login_page.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100&family=Nunito:ital,wght@1,300&family=Open+Sans:wght@300&family=Salsa&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="main-board">
        <div class="title">
            <h1>Register | Customer</h1>
        </div>
        <div class="forming">
            <form action="/regis/customer/send" method="post" class="forming-box">
                
                <div class="input-container">
                <input placeholder="Username" class="input-field" type="text">
                <label for="input-field" class="input-label">Your username</label>
                <span class="input-highlight"></span>
                </div>

                <div class="input-container">
                    <input placeholder="Password" class="input-field" type="text">
                    <label for="input-field" class="input-label">Your password</label>
                    <span class="input-highlight"></span>
                    </div>
                    <div class="input-container">
                        <input placeholder="Password" class="input-field" type="text">
                        <label for="input-field" class="input-label">Your password</label>
                        <span class="input-highlight"></span>
                        </div>
                        
                        

                <button role="button" class="button-name">Register</button>
            </form>
        </div>
    </div>
</body>
</html>