table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 1px solid #dddddd;
    background-color: #423F4E;
    color: #FFFFFF;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #F6F6F6;
    color: #001524;
}