table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

th {
    border: 1px solid #dddddd;
    background-color: #423F4E;
    color: #FFFFFF;
}
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #F6F6F6;
    color: #001524;
}

.up-bar{
    width: 65%;
    height: 80%;

    background-color: #EEE3CB;

    border-radius: 50px;

    display: grid;
    grid-template-columns:30% 25%;
    justify-content: space-between;
}

.up-right{

    display: grid;
    justify-content: center;
    align-items: center;
}
.right-box{
    width: 80%;

    display: grid;
    justify-items: flex-end;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.up-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.topnav {
    overflow: hidden;
    background-color: #EEE3CB;
    display: flex;
    justify-content: space-between;
    grid-area: header;
    border-radius: 20px;
    /* padding: 10px; */
    /* border-radius: 10px; */
    margin: 35px;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: #423F4E;
    color: white;
}

.topnav a:hover {
    background-color: #607274;
    color: white;
}

.profile {
    float: right;
    justify-content: end;
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.delete {
    position:absolute; right: 70px;
    background-color: #FF4444;
    color: white;
    border: 0 #FF4444;
    /* margin-top: 20px; */
    margin-right: 20px;
}

.tabs {
    display: flex;
    width: 200px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
}

.tabs * {
    z-index: 2;
}
.container{
    display: inline-block;
    width: 200px;
}

.container input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
}

.container input[type="radio"]:checked + label {
    color: #185ee0;
}

.container input[type="radio"]:checked + label > .notification {
    background-color: #185ee0;
    color: #fff;
    margin: 0px;
}

/* .container input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0);
} */
.container input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0%);
}

.container input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
}

.container input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
}

.glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 100px;
    background-color: #e6eef9;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
}