<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Audit Logs</title>
        <link rel="stylesheet" href="/style/governor/style_governor_audit_log.css" />
    </head>
    <body>
        <div class="topnav">
            <a href="/Dashboard">Dashboard</a>
            <a class="active" href="/governor/audit">Audit logs</a>
        </div> 
        <!-- <div class="up-bar">
            <div class="up-left">
                <img id="logo" src="/images/office.png" width="35px" height="35px"/>
                <form action="/" method="get" id="filter">
                    <button type="submit" formaction="/" id="home">Dashboard</button>
                    <button type="submit" formaction="/governor/audit" id="about">Audit logs</button>
                </form>
            </div>
            <div class="up-right">
                <form action="/login" method="get">
                    <button type="submit" formaction="/login" id="login">Login</button>
                    <button type="submit" formaction="/login" id="regis">Register</button>
                </form>
            </div>
        </div> -->
        <div style="margin: 35px;">
        <table>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Region</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000<button>delete</button></td>
            </tr>
        </table>
        </div>
    </body>
</html>