<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Audit Logs</title>
        <link rel="stylesheet" href="/style/governor/style_governor_audit_log.css" />
    </head>
    <body>
        <div class="up-bar">
            <div class="up-left">
                <img id="logo" src="/images/office.png" width="35px" height="35px"/>
                <form action="/" method="get" id="filter">
                    <button type="submit" formaction="/" id="home">Home</button>
                    <button type="submit" formaction="/about" id="about">About</button>
                </form>
            </div>
            <div class="up-right">
                <form action="/login" method="get">
                    <button type="submit" formaction="/login" id="login">Login</button>
                    <button type="submit" formaction="/login" id="regis">Register</button>
                </form>
            </div>
        </div>
        <table>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Region</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
            </tr>
        </table>
    </body>
</html>