<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Audit Logs</title>
        <link rel="stylesheet" href="/style/governor/style_governor_audit_log.css" />
    </head>
    <body>
        <div class="topnav">
            <div>
            <a href="/Dashboard">Dashboard</a>
            <a class="active" href="governor/audit">Audit logs</a>
            </div>
            <div class="profile">John Doe&nbsp;&nbsp;<img src="/images/circle-user.png" height="15px" width="15px" /></div>
        </div> 
        <!-- <div class="up-bar">
            <div class="up-left">
                <img id="logo" src="/images/office.png" width="35px" height="35px"/>
                <form action="/" method="get" id="filter">
                    <button type="submit" formaction="/" id="home">Dashboard</button>
                    <button type="submit" formaction="/governor/audit" id="about">Audit logs</button>
                </form>
            </div>
            <div class="up-right">
                <form action="/login" method="get">
                    <button type="submit" formaction="/login" id="login">Login</button>
                    <button type="submit" formaction="/login" id="regis">Register</button>
                </form>
            </div>
        </div> -->
        <div style="margin: 35px;">
        <table>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Region</th>
                <th>Price</th>
                <th colspan="2">Status</th>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2023-12-17</td>
                <td>Selling</td>
                <td>Center</td>
                <td>B 3,000,000</td>
                <td style="text-align: center; vertical-align: middle;">
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Checked游릭</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">In Progress游댮</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                        <td style="text-align: center; vertical-align: middle;">
                                <button class="delete">delete</button>
                        </td>
                    </div>
                </td>
            </tr>
        </table>
        </div>
    </body>
</html>