<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="/style/governor/style_governor_dashboard.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    </head>
    <body>
        <div class="grid_container">
            <div class="up-bar">
                <div class="up-left">
                    <img id="logo" src="/images/office.png" width="35px" height="35px"/>
                    <form action="/" method="get" id="filter">
                        <button type="submit" formaction="/" id="home">Home</button>
                        <button type="submit" formaction="/about" id="about">About</button>
                    </form>
                </div>
                <div class="up-right">
                    <form action="/login" method="get">
                        <button type="submit" formaction="/login" id="login">Login</button>
                        <button type="submit" formaction="/login" id="regis">Register</button>
                    </form>
                </div>
            </div>
            <div class="transaction_graph">
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
			<script>
			const xValues = [50,60,70,80,90,100,110,120,130,140,150];
			const yValues = [7,8,8,9,9,9,10,11,14,14,15];

			new Chart("myChart", {
            type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(0,0,255,1.0)",
                        borderColor: "rgba(0,0,255,0.1)",
                        data: yValues
                    }]
                },
                options: {
                    legend: {display: false},
                    scales: {
                        yAxes: [{ticks: {min: 6, max:16}}],
                    }
                }
			});
			</script>
            </div>
            <div class="user_graph">
                <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
                <script>
                    const xvalues = [50,60,70,80,90,100,110,120,130,140,150];
                    const yvalues = [7,8,8,9,9,9,10,11,14,14,15];

                new Chart("myChart1", {
                type: "line",
                    data: {
                        labels: xvalues,
                        datasets: [{
                            fill: false,
                            lineTension: 0,
                            backgroundColor: "rgba(0,0,255,1.0)",
                            borderColor: "rgba(0,0,255,0.1)",
                            data: yvalues
                        }]
                    },
                    options: {
                        legend: {display: false},
                        scales: {
                            yAxes: [{ticks: {min: 6, max:16}}],
                        }
                    }
                });
                </script>
            </div>
            <div class="daily_transaction">Daily Transaction<br>300,000</div>
            <div class="recent_transaction">Recent Transaction<br>300,000</div>
            <div class="daily_user">Daily Users<br>300,000</div>
            <div class="total_user">Total Users<br>300,000</div>
        </div>
    </body>
</html>
