<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeLander</title>
    <link rel="stylesheet" href="/style/landlord_css/landlord_item.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100&family=Nunito:ital,wght@1,300&family=Open+Sans:wght@300&family=Salsa&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main-div">
        <h1><%= locals.user_name %>'s Edit</h1>
        <form class="creator" action="/land/create" method="post" enctype="multipart/form-data">
            <div class="left-creator">
                <div class="imageContainer">
                    <img src="/images/upload_image2.png" width="80%" style="border-radius: 20px;" id="profile-house">
                    <label for="input-file" id="uploader">Update Image</label>
                    <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" name="upload">
                </div>
                <div class="status">
                    <h1>Status</h1>
                    <div class="container">
                        <div class="tabs">
                            <input type="radio" id="radio-1" name="status" value="available">
                            <label class="tab" for="radio-1">Available🟢</label>
                            <input type="radio" id="radio-2" name="status" value="unavailable">
                            <label class="tab" for="radio-2">Unavailable🔴</label>
                            <input type="radio" id="radio-3" name="status" value="soldout">
                            <label class="tab" for="radio-3">Sold Out💸</label>
                            <span class="glider"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-creator">
                <div class="detail">
                    <div class="inputer">
                        <h1 style="display:inline-block">Land's name :</h1>
                        <div style="display:inline-block" class="input-container">
                            <input type="text" id="input" required="" name="land_name">
                            <label for="input" class="label">Enter your land's name</label>
                            <div class="underline"></div>
                        </div><br />


                        <h1 style="display:inline-block">Land's type :</h1>
                        <div class="custom-select" style="display:inline-block; width:200px;">
                            <select name="land_type">
                                <option value="0" selected hidden disabled>Select Type:</option>
                                <option value="Sale">Sale</option>
                                <option value="Rent">Rent</option>
                            </select>
                        </div><br />

                        <h1 style="display:inline-block">Starter price-input :</h1>
                        <div style="display:inline-block" class="input-container">
                            <input type="text" id="input" required="" name="land_price">
                            <label for="input" class="label">Enter start price</label>
                            <div class="underline"></div>
                        </div><br />

                        <h1 style="display:inline-block">Phone-Contact :</h1>
                        <div style="display:inline-block" class="input-container">
                            <input type="text" id="input" required="" name="land_phone">
                            <label for="input" class="label">Enter phone-contact</label>
                            <div class="underline"></div>
                        </div><br />

                        <h1 style="display:inline-block">Description :</h1>
                        <div style="display:inline-block" class="input-container">
                            <input type="text" id="input" required="" name="land_des">
                            <label for="input" class="label">Enter description</label>
                            <div class="underline"></div>
                        </div><br />
                    </div>

                </div>
                <div class="submiter">
                    <button class="button type1">
                        <span class="btn-txt">Create!</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <script>
        let profilePic = document.getElementById("profile-house");
        let inputFile = document.getElementById("input-file");

        inputFile.onchange = function(){
            profilePic.src = URL.createObjectURL(inputFile.files[0]);
        }
    </script>
</body>

</html>