<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeLander</title>
    <link rel="stylesheet" href="/style/customer_css/style_customer_item.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100&family=Nunito:ital,wght@1,300&family=Open+Sans:wght@300&family=Salsa&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="back">
            <form action="/search" method="get">
                <button type="sumbit"><img src="images/back.png" width="35px"></button>
            </form>
        </div>
        <div class="content">
            <div class="left">
                <div class="image">
                    <img src="images/hgouse.jpg" width="100%">
                </div>
                <div class="status">
                    <div class="status-text">
                        <h3>
                            Status : Available
                        </h3>
                    </div>
                </div>
                <div class="map">
                    <div class="map-text">
                        <h3>
                            Open on google map
                        </h3>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <div class="info-content">
                        <h3 class="info-des">
                            Name : Something<br><br>
                            Type : Something<br><br>
                            Start Price : 3,XXX,XXX<br><br>
                            Contact (Phone) : 09X-XXXXXXX<br><br>
                        </h3>
                    </div>
                </div>
                <div class="detail">
                    <div class="detail-content">
                        <h3 class="descript">
                            SomethingSomethingSomethingSomethingSomethingSomethingSomethingword-wrap: break-word;display: grid;
                            justify-content: center;
                            align-items: center;
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>